<div class="container mx-auto mt-28 px-5 flex flex-col items-center bg-slate-300 w-2/3 p-8 rounded-2xl">
    <h1 class="text-3xl font-bold text-blue-500">Testes com Ruby</h1>
    <p>Este é um exemplo de página inicial para testes com Ruby on Rails.</p>
    <p>Você pode adicionar mais conteúdo aqui para testar o comportamento do Rails.</p>
    <p>Certifique-se de que o servidor está rodando e acesse esta página:
    <a class="cursor-pointer underline text-blue-500" href="http://localhost:3000">Porta Local</a> para ver as alterações.</p>
    <p>Para mais informações, consulte a documentação do Ruby on Rails em
    <a class="cursor-pointer underline text-blue-500" href="https://guides.rubyonrails.org">Guia Ruby on Rails</a>.</p>
    <p>Divirta-se testando!</p>
</div>